*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
}

.padding-block-xs {
  padding-block: 4px;
}

.padding-block-sm {
  padding-block: 8px;
}

.padding-block-md {
  padding-block: 16px;
}

.padding-block-lg {
  padding-block: 25px;
}

.padding-block-xl {
  padding-block: 45px;
}

.padding-block-xxl {
  padding-block: 65px;
}

.padding-inline-xs {
  padding-inline: 4px;
}

.padding-inline-sm {
  padding-inline: 8px;
}

.padding-inline-md {
  padding-inline: 16px;
}

.padding-inline-lg {
  padding-inline: 25px;
}

.padding-inline-xl {
  padding-inline: 45px;
}

.padding-inline-xxl {
  padding-inline: 65px;
}

.margin-block-xs {
  margin-block: 4px;
}

.margin-block-sm {
  margin-block: 8px;
}

.margin-block-md {
  margin-block: 16px;
}

.margin-block-lg {
  margin-block: 25px;
}

.margin-block-xl {
  margin-block: 45px;
}

.margin-block-xxl {
  margin-block: 65px;
}

.margin-inline-xs {
  margin-inline: 4px;
}

.margin-inline-sm {
  margin-inline: 8px;
}

.margin-inline-md {
  margin-inline: 16px;
}

.margin-inline-lg {
  margin-inline: 25px;
}

.margin-inline-xl {
  margin-inline: 45px;
}

.margin-inline-xxl {
  margin-inline: 65px;
}

.button-arancio {
  padding-inline: 20px;
  padding-block: 5px;
  border-radius: 10px;
  color: #f4f4f4;
  background-color: #ff8700;
  box-shadow: 0px 0px 10px 3px #ff8700;
  border: 2px solid #ff8700;
}
.button-arancio:hover {
  background-color: white;
  color: #ff8700;
  box-shadow: 0 0 0px 0px #ff8700;
  border: 2px solid #ff8700;
}

.button-celeste {
  padding-inline: 20px;
  padding-block: 5px;
  border-radius: 10px;
  color: #f4f4f4;
  background-color: #0e6cff;
  box-shadow: 0px 0px 10px 3px #0e6cff;
  border: 2px solid #0e6cff;
}
.button-celeste:hover {
  background-color: white;
  color: #0e6cff;
  box-shadow: 0 0 0px 0px #0e6cff;
  border: 2px solid #0e6cff;
}

.button-verde {
  padding-inline: 20px;
  padding-block: 5px;
  border-radius: 10px;
  color: #f4f4f4;
  background-color: #4caf50;
  box-shadow: 0px 0px 10px 3px #4caf50;
  border: 2px solid #4caf50;
}
.button-verde:hover {
  background-color: white;
  color: #4caf50;
  box-shadow: 0 0 0px 0px #4caf50;
  border: 2px solid #4caf50;
}

body {
  color: #f4f4f4;
}

nav {
  display: flex;
  justify-content: center;
  background-color: rgb(59, 0, 132);
  position: sticky;
  top: 0;
}
nav .container {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
nav .container ul {
  display: flex;
  gap: 15px;
  list-style: none;
}

header {
  background-color: #640fc5;
  display: flex;
  justify-content: space-between;
}
header h1 {
  font-size: 2.5rem;
  font-weight: "bold";
}
header p {
  font-size: 1.25rem;
  font-weight: "bold";
}
header .image {
  border-radius: 10px;
  box-shadow: 3px 3px 8px gray;
  border: 2px solid black;
  background-image: url("https://picsum.photos/500/200");
  max-width: 500px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}/*# sourceMappingURL=style.css.map */